<div class="container">
  <br>
  <h3>Your Cookbook</h3>
  <h3 *ngIf="mealData == null">Nothing matches your search. Please try again!</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col"  *ngFor="let meal of mealData">
      <div class="card mt-3">
        <img src="{{meal.strMealThumb}}" class="card-img-top img-fluid">
        <div class="card-body">
          <h4 class="card-title">{{meal.strMeal}}</h4>
          <p class="card-text">{{meal.strArea}}</p>
          <button class="btn btn-primary" (click)="deleteMeal(meal._id)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
