
<div class="container">
    <br>
    <h3>Search for a meal by title!</h3>
  
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" #meal  placeholder="Enter meal" aria-label="Find meal">
          <button (click)="getMealData(meal.value)" class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </nav>  
  
    <!-- <ul class="pagination" *ngIf="this.movieData.totalResults > 10">
      <li class="page-item"><a class="page-link" href="#" (click)="getPreviousPage(moviename.value)">Previous</a></li>     
      <li class="page-item"><a class="page-link" href="#">Page {{this.currentPage}} ({{movieData.totalResults}} results)</a></li>
      <li class="page-item"><a class="page-link" href="#" (click)="getNextPage(moviename.value)">Next</a></li>
    </ul> -->
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col"  *ngFor="let meal of mealData.meals">
          <div class="card mt-3">
            <img src="{{meal.strMealThumb}}" class="card-img-top img-fluid">
            <div class="card-body">
              <h4 class="card-title">{{meal.strMeal}}</h4>
              <p class="card-text">{{meal.strArea}}</p>
              <button class="btn btn-primary" type="submit" (click)="addMeal(meal.strMeal, 
                  meal.strCategory, meal.strArea, meal.strMealThumb)">Add to Cookbook</button>
            </div>
          </div>
        </div>
      </div>
  
</div>
